body {
  min-width: 320px;
}

a {
  color: #00a68f;
}
a:hover {
  color: #00594d;
}

.logo svg {
  width: 100%;
  height: auto;
}

header {
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 4;
}
header .navbar {
  background-color: #00bfa5;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 0;
}
header .navbar .navbar-brand {
  padding: 5px 0;
}
header .navbar .navbar-brand img {
  height: 30px;
  width: auto;
}
header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}
header .navbar ul li {
  margin-left: 10px;
}
header .navbar ul li a {
  font-size: 28px;
  color: #ffffff;
}
header .navbar ul li a:hover {
  opacity: 0.6;
}

.grecaptcha-badge {
  display: none;
}

.main-header {
  background-color: #eaf7fa;
  position: relative;
  padding-bottom: 50px;
}
.main-header::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 120px;
  background-image: url(../img/bottom_oval.svg);
  background-repeat: no-repeat;
  background-size: 101% auto;
  background-position: center bottom;
}

.our-works {
  padding-top: 50px;
}
.our-works p.lead {
  padding: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 191, 165, 0.2);
}
.our-works .ow-item {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.our-works .ow-item:hover .ow-link {
  background-color: #00bfa5;
  color: #ffffff;
}
.our-works .ow-item:hover .ow-link i {
  color: #ffffff;
}
.our-works .ow-item .ow-link {
  background-color: #ffffff;
  padding: 5px 15px 5px 5px;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 80, 99, 0.4) !important;
  -moz-box-shadow: 0px 0px 10px rgba(0, 80, 99, 0.4) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 80, 99, 0.4) !important;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.our-works .ow-item .ow-link img {
  height: 18px;
  width: auto;
  margin-right: 4px;
}
.our-works .ow-item .ow-link i {
  color: #00bfa5;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.our-works .ow-item .ow-link i:first-child {
  margin-right: 4px;
}
.our-works .ow-item .ow-link i:last-of-type {
  margin-right: 10px;
}
.our-works .ow-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: -10px;
  box-shadow: 0px 0px 10px rgba(0, 80, 99, 0.3) !important;
  -moz-box-shadow: 0px 0px 10px rgba(0, 80, 99, 0.3) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 80, 99, 0.3) !important;
}

@media (max-width: 767px) {
  header .navbar .navbar-brand {
    padding: 0;
  }
  header .navbar .navbar-brand img {
    height: 20px;
  }
  header .navbar ul li a {
    font-size: 20px;
  }

  .main-header {
    padding-bottom: 20px;
  }

  .our-works {
    padding-top: 20px;
  }
}