@mixin transition-all($t) {
    -webkit-transition: all #{$t}s ease-out;
    -moz-transition: all #{$t}s ease-out;
    -o-transition: all #{$t}s ease-out;
    transition: all #{$t}s ease-out;
}

@mixin box-shadow($x, $y, $z, $n) {    
    box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 80, 99, $n)!important;
    -moz-box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 80, 99, $n)!important;
    -webkit-box-shadow: #{$x}px #{$y}px #{$z}px rgba(0, 80, 99, $n)!important;
}

body {
    min-width: 320px;
}
a {
    color: darken(#00bfa5, 5%);
    // font-weight: bold;
    &:hover {
        color: darken(#00bfa5, 20%);
    }
}
.logo {
    svg {
        width: 100%;
        height: auto;
    }
}
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 4;
    .navbar {
        background-color: #00bfa5;
        box-shadow: none;
        padding: 8px 0;
        .navbar-brand {
            padding: 5px 0;
            img {
                height: 30px;
                width: auto;
            }
        }
        ul {
            display: flex;
            margin-bottom: 0;
            li {
                margin-left: 10px;
                a {
                    font-size: 28px;
                    color: #ffffff;
                    &:hover {
                        opacity: .6;
                    }
                };
            }
        }
    }
}

.grecaptcha-badge {
    display: none;
}
.main-header {
    background-color: #eaf7fa;
    position: relative;
    padding-bottom: 50px;
    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 120px;
        background-image: url(../img/bottom_oval.svg);
        background-repeat: no-repeat;
        background-size: 101% auto;
        background-position: center bottom;
    }
}
.our-works {
    padding-top: 50px;
    p {
        &.lead {
            padding: 10px;
            margin-bottom: 30px;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0,191,165,.2);
        }
    }
    .ow-item {
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            .ow-link {
                background-color: #00bfa5;
                color: #ffffff;
                i {
                    color: #ffffff;
                }
            }
        }
        .ow-link {
            background-color: #ffffff;
            padding: 5px 15px 5px 5px;
            border-radius: 20px;
            color: #000;
            cursor: pointer;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            @include box-shadow(0, 0, 10, .4 );
            @include transition-all(.2);
            img {
                height: 18px;
                width: auto;
                margin-right: 4px;
            }
            i {
                color: #00bfa5;
                @include transition-all(.2);
                &:first-child {
                    margin-right: 4px;
                }
                &:last-of-type {
                    margin-right: 10px;
                }
            }
        }
    }
    .ow-img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: -10px;
        @include box-shadow(0, 0, 10, .3 );
    }
}

@media (max-width: 1199px) {
   
}

@media (max-width: 991px) {
    
}
@media (max-width: 767px) {
    header {
        .navbar {
            .navbar-brand {
                padding: 0;
                img {
                    height: 20px;
                }
            }
            ul {
                li {
                    a {
                        font-size: 20px;
                    };
                }
            }
        }
    }
    .main-header {
        padding-bottom: 20px;
    }
    .our-works {
        padding-top: 20px;
    }
}